ul.menu_ngedrop{
	position: relative;
	margin: 0px;
	padding: 1px 0px 0px 0px;
	background:transparent url(images/arrow_up.png) repeat-x scroll 0 0;
	display:block;
	height: 35px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}
.menu_ngedrop li{
	position: relative;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.menu_ngedrop li a{
	height: 22px;
	padding: 9px 10px 0px 15px;/*9px 30px 0px 15px;*/
	display: block;
	cursor: point;
	border-right: solid 1px #4a779d;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}
.menu_ngedrop li span{
	display: block;
	float: right;
	height: 10px;
	width: 10px;
	background:transparent url(images/arrow_up.png) repeat-x scroll 0 0;
	position: absolute;
	top: 12px;
	right: 10px;
}
.menu_ngedrop li  a:hover span{
	background:transparent url(images/arrow_hover.png) repeat-x scroll 0 0;
}
.menu_ngedrop li:hover ul, .menu_ngedrop li:hover div{
	display: block;
}
.menu_ngedrop ul{
	position: absolute;
	display: none;
	width: 190px;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ccc;
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
}
.menu_ngedrop ul li{
	border: 0;
	float: none;
}
.menu_ngedrop ul a {
  border: 1px solid #ccc;
  border-bottom: 0;
  white-space: nowrap;
  display:block;
  color: #0657AD;
  text-decoration: none;
  text-transform: none;
}
a.selected, .menu_ngedrop a:hover{
	color: #0657AD !important;
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
}
a.selected span{
	background:transparent url(images/arrow_hover.png) repeat-x scroll 0 0;
}
.menu_ngedrop ul a:hover {
	/*color:#F67A00 !important;*/
	color:#FFF !important;
	text-decoration: none;
	/*background-color: #F0F0F0;*/
	/*background-color:#0657AD;*/
	background:transparent url(images/arrow_up.png) repeat-x scroll 0 0;
	/*background-image: none;*/
}
.menu_ngedrop div ul{
	position: relative;
	display: block;
}
.menu_ngedrop li div{
	background: #FFFFFF url(images/gradient.png) repeat-x scroll 0 0;
	border: 1px solid #ccc;
	padding: 5px;
	display: none;
	position: absolute;
}
.menu_ngedrop li div ul{
	border: none;
	background: none;
	position: relative !important;
}
.menu_ngedrop li div a{
	border: none;
	border-bottom: 1px solid #ccc;
}
.menu_ngedrop li div div{
	display: block;
	position: relative;
	background: none;
	border: none;
}
.menu_ngedrop li div div a{
	display: inline;
	border: none;
	color: #666;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	text-transform: none;
}
.menu_ngedrop li div div a:hover{
	color: #000;
	text-decoration: none;
}
